main {
  padding: 8px 10px;
  height: calc(100vh - 95px);
  overflow-y: auto;
}

.myCard {
  min-width: 160px;
  color: white;
  font-weight: bolder;
  height: 85px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 7px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 2px 4px #d0d0d0, 0 3px 8px #d7d7d785;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aa715a;
}

.title {
  margin: 4px;
}
.content {
  margin: 4px;
}

.addBtn {
  color: white;
  background-color: #aa715a;
}

.page-item {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #aa715a;
  border-radius: 50%;
}

.page-link {
  border: none;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: #aa715a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================table============================= */
table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
}

.table-container {
  /* height: 72vh; */
  border-radius: 15px;
  overflow: hidden;
  background-color: #f7f3f3;
}

.table-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table-header h3 {
  color: #aa715a;
  font-weight: bolder;
}

.table-body {
  width: 100%;
  /* height: calc(83% - 1.8rem); */
  height: auto;
  min-height: 353px;
  overflow: auto;
}

table {
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #bfb6d4fe; */
  background-color: #aa715a;
  color: white;
}

tbody tr td {
  color: #aa715a;
}

tbody tr:hover {
  background-color: #fff6;
}
/* 
.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.table-body::-webkit-scrollbar-corner {
  display: none;
} */

.table-pagination {
  width: 100%;
}

.table-pagination nav {
  padding: 0.8rem;
  background-color: #fff5;
}

.fontSize {
  font-size: 18px;
}

.button {
  border-radius: 15px;
  border: none;
  outline: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.show-text {
  display: inline-block;
}
.show-icon {
  display: none;
}
/* ====================================================== */

/* ======================== Customer Form ===================== */
.customer-form {
  --text-color: #8b5641;
  --primary-color: #aa715a;
  --input-bg: #ffedde40;
  --input-shadow: #aa715a42;

  --mdc-circular-progress-active-indicator-color: white !important;
}

.backBtnRow {
  background-color: transparent;
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.input-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.input-container label {
  width: 100px;
  font-size: 1rem;
  color: var(--text-color);
}

.customer-form .form-control {
  background-color: var(--input-bg) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--primary-color) !important;
}

.customer-form .form-control::placeholder {
  color: var(--primary-color);
}

.customer-form .form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--input-shadow);
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  background-color: var(--primary-color) !important;
  color: white !important;
}

::ng-deep .mat-mdc-raised-button {
  border-radius: 17px !important;
  height: 42px !important;
  padding: 0 1.5rem !important;
}

::ng-deep .mdc-button .mdc-button__label {
  display: flex !important;
  align-items: center !important;
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .form-container {
    row-gap: 0.8rem;
  }

  .input-container {
    height: auto;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

/* ===================== Responsive ======================= */
@media screen and (max-width: 2000px) {
  .myBotton {
    height: 50px;
    padding: 3px 9px;
    cursor: pointer;

    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #aa715a;
  }
  .btnIcon {
    margin-right: 5px;
  }
}

@media screen and (max-width: 858px) {
  .myCard {
    min-width: 145px;
    height: 75px;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 0 2px 4px #d0d0d0, 0 3px 8px #d7d7d785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa715a;
  }
}

@media screen and (max-width: 800px) {
  .myCard {
    min-width: 130px;
    height: 75px;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 0 2px 4px #d0d0d0, 0 3px 8px #d7d7d785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa715a;
  }
}

@media screen and (max-width: 774px) {
  .myCard {
    min-width: 120px;
    height: 75px;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 0 2px 4px #d0d0d0, 0 3px 8px #d7d7d785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa715a;
  }
}

@media (max-width: 500px) {
  .myCard {
    min-width: 50px;
    height: auto;
    padding: 3px 9px;
    margin-left: 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #aa715a;
  }
  .title {
    margin: 4px;
  }
  .content {
    margin: 4px;
  }
  .scroll {
    width: inherit;
    overflow-x: scroll;
  }
  .scroll::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 3px;
    background-color: #0004;
    visibility: hidden;
  }
  .scroll:hover::-webkit-scrollbar {
    visibility: visible;
  }

  .myBotton {
    height: auto;
    cursor: pointer;
  }

  .show-text {
    display: none;
  }

  .show-icon {
    display: inline-block;
  }
}
