main {
  padding: 8px 10px;
  height: calc(100vh - 92px);
  overflow-x: hidden;
  overflow-y: auto;
}

.calendar-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px 12px;
  box-shadow: 1px 1px 3px 5px rgba(164, 164, 164, 0.3);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, 65px); */
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px;
  border: 2px solid #8b5641;
}

.day-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #bfb6d4; */
  color: white;
  background-color: #aa715a;
}

.grid-container div:nth-child(even) {
  border: 1px solid black;
}

.status {
  width: 130px;
  padding: 5px 13px;
  border-radius: 10px;
}

.active {
  background-color: #86e49d;
  color: #006b21;
}

.bgBrown {
  background-color: #aa715a;
}

.brown {
  color: #aa715a;
}

.current-month-year {
  font-size: 1.3rem;
  font-weight: bold;
  color: #8b5641;
}
