.pos-terminal {
  --primary-color: #aa715a;
  --category-color: #f2d4c8c9;
  --hover-color: #fee7dc;
  --button-hover-color: #7a4b39;
  /* --primary-color: #ffffff19; */
}

.pos-terminal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-select {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: azure; */
}

/* Search Box CSS */
.search-container-row {
  flex: 1;
  width: 100%;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 400px;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--primary-color);
}

.search-container input {
  width: auto;
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 15px;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: white;
}

.search-container .search-btn {
  width: 50px;
  height: 100%;
  font-size: 1.2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: wheat;
  font-weight: bold;
  cursor: pointer;
}

.search-clear {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 3px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-icon-container {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  color: #7a4b39;
  width: 50px;
  padding: 5px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  display: none;
}

.shop-icon-container .shop-badge {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 18px;
  height: 18px;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c02121;
}

/* Products Container CSS */
.products-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Category List CSS */
.category-container {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.category-container .category-list {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.category-container .category-list .category-item {
  padding: 6px 12px;
  font-size: 0.8rem;
  color: var(--primary-color);
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  background-color: var(--category-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.category-container .category-list .category-item:hover {
  background-color: var(--primary-color);
  color: white;
}

.category-container .category-list .category-item.category-active {
  background-color: var(--primary-color);
  border: 2px solid #8b5641;
  color: white;
}

/* Products Card UI CSS */
.products-item-container {
  width: 100%;
  height: calc(100vh - 200px);
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;
}

/* Product Card CSS Start */
.product-card {
  position: relative;
  width: 180px;
  height: fit-content;
  /* height: 260px; */
  padding: 5px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.product-card .out-of-stock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24232385;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(1.2px);
}

.product-card:has(.out-of-stock) {
  pointer-events: none;
}

.product-card .product-count {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  border: 2px solid #8b5641;
  background-color: var(--primary-color);
  /* border: 2px solid var(--primary-color); */
  z-index: 1500;
}

.discount-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #e63946;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1500;
}

.discount-price {
  font-weight: 700;
  font-size: 0.83rem;
  position: absolute;
  top: -13px;
  width: 80px;
}

.old-price {
  font-weight: normal !important;
  text-decoration: line-through;
}

.product-card .image-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}

.product-card .product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-card .product-info .product-name {
  width: 170px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 0;
  color: #8b5641;
}

.product-card .product-info .price {
  font-size: 0.8rem;
  font-weight: bold;
  /* color: black; */
}

.product-card .product-info .add-product {
  font-size: 0.8rem;
  color: var(--primary-color);
  font-weight: 600;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: #ffe3d86c;
  background-color: #aa715a20;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.no-product-found {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Product Card CSS End */
.sd-container {
  position: relative;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  transition: width 0.3s ease;
  background-color: white;
}

.sales-details {
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px;
  background-color: #f0d5ca30;
  transition: left 0.3s ease;
}

.disabled {
  pointer-events: none;
  background-color: #c3b0a8 !important;
}

/* Add Customer Info CSS */
.customer-info-btn {
  width: 100%;
  padding: 4px 8px;
  font-size: 0.8rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* border: 2px solid #8b5641; */
  cursor: pointer;
}

.close-order-btn {
  width: 37px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
/* ================================================== */

/* Selected Menu Items List CSS */
.selectedMenuItems {
  width: 100%;
  height: 292px;
  min-height: 292px;
  max-height: 292px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.selected-menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: white;
}

.selected-menu-item .menu-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
}

.selected-menu-item .menu-content-container {
  width: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.selected-menu-item .menu-content-container .name-deleteBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
  font-size: 0.8rem;
  color: #8b5641;
}

.sd-discount-badge {
  background: #e63946;
  color: #fff;
  padding: 0px 6px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.sd-old-price {
  text-decoration: line-through;
  font-size: 0.75rem !important;
}

.selected-menu-item .menu-content-container .name-deleteBtn .delete-btn {
  font-size: 0.95rem;
  color: #ff3b3b;
  background-color: transparent;
  /* box-shadow: 0 0 10px rgba(255, 59, 59, 0.7), 0 0 20px rgba(255, 59, 59, 0.5); */
  filter: drop-shadow(0px 0px 6px #ff3b3b);
  cursor: pointer;
  transition: color 0.2s ease;
}

.selected-menu-item .menu-content-container .name-deleteBtn .delete-btn:hover,
.selected-menu-item .menu-content-container .name-deleteBtn .delete-btn:active {
  color: #c02121;
}

.selected-menu-item .menu-content-container .price-count {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #8b5641;
  margin-bottom: 3px;
}

.selected-menu-item .menu-content-container .price-count .count-container {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fee7dc;
}

.selected-menu-item
  .menu-content-container
  .price-count
  .count-container
  .count-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.9rem;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.selected-menu-item
  .menu-content-container
  .price-count
  .count-container
  .count-btn:hover,
.selected-menu-item
  .menu-content-container
  .price-count
  .count-container
  .count-btn:active {
  background-color: var(--button-hover-color);
}

.selected-menu-item
  .menu-content-container
  .price-count
  .count-container
  .count {
  font-size: 0.8rem;
  color: #8b5641;
}
/* ======================================================= */

/* Payment Info CSS */
.payment-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.payment-info .pi-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #8b5641;
}

.payment-info .pi-item span:last-child {
  font-weight: bold;
}

.payment-info .pi-divider {
  width: 100%;
  border: 2px dotted var(--primary-color);
}
/* ================================================= */

/* Payment Method CSS */
.payment-method {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.payment-method .p-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #8b5641;
}

.payment-method .payment-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.payment-method .payment-type .payment-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: var(--primary-color);
  cursor: pointer;
}

.payment-method .payment-type .payment-card .payment-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #eed6cc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1c7b66e;
}

.selectedMethod {
  border-width: 3px !important;
  border-color: var(--primary-color) !important;
}

.payment-method .payment-type .payment-card .payment-icon span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-method .payment-type .payment-card .payment-icon img {
  width: 100%;
  height: 100%;
}

.payment-method .pay-btn {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.payment-method .pay-btn:hover,
.payment-method .pay-btn:active {
  background-color: var(--button-hover-color);
}
/* ==================================================================== */

@media (max-width: 885px) {
  .shop-icon-container {
    display: flex;
  }

  .sd-container {
    position: absolute !important;
  }

  .close-order-btn {
    display: flex;
  }
}
