.myBtn {
  color: white;
  font-size: 18px;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 3px 0;
  cursor: pointer;
  width: 100%;
}

span {
  margin-left: 12px;
}

.myBtn:hover {
  color: #aa715a;
  background-color: white;
}

.active {
  color: #aa715a;
  background-color: white;
}
