.container {
  /* height: 80px; */
  height: 66.8px;
  min-width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  background: linear-gradient(#aa715a, #e7d1c9, #d5afa1);
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.myfs {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  color: #aa715a;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
