main {
  --text-color: #8b5641;
  --primary-color: #aa715a;
  --input-bg: #ffedde40;
  --input-shadow: #aa715a42;

  --mdc-circular-progress-active-indicator-color: white !important;
}

.dialog-title-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #aa715a;
}

.dialog-title-between span {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.dialog-actions-center {
  justify-content: center;
}

/* ======================== Customer Form For Popup ===================== */

form {
  width: 100%;
  padding: 10px 20px;
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.input-container label {
  width: 100px;
  font-size: 1rem;
  color: var(--text-color);
}

.form-control {
  background-color: var(--input-bg) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--primary-color) !important;
}

.form-control::placeholder {
  color: var(--primary-color);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--input-shadow);
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  background-color: var(--primary-color) !important;
  color: white !important;
}

::ng-deep .close-popup.mat-mdc-raised-button:not(:disabled) {
  background-color: #f44336 !important;
  color: white !important;
}

::ng-deep .mat-mdc-raised-button {
  border-radius: 17px !important;
  height: 42px !important;
  padding: 0 1.5rem !important;
}

::ng-deep .close-popup.mat-mdc-raised-button {
  border-radius: 5px !important;
}

::ng-deep .mdc-button .mdc-button__label {
  display: flex !important;
  align-items: center !important;
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .form-container {
    row-gap: 0.8rem;
  }

  .input-container {
    height: auto;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
/* ======================================================= */
