.main {
  width: 100%;

  max-height: 88vh;
  overflow-y: auto;
}

/* .main::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 3px;
  background-color: #0004;
  visibility: hidden;
}
.main:hover::-webkit-scrollbar {
  visibility: visible;
} */

main::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

main::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: visible;
  cursor: pointer;
}

main:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

main::-webkit-scrollbar-corner {
  display: none;
}
