main {
  background-color: white;
  width: 100%;
  height: 100%;

  --text-color: #8b5641;
  --primary-color: #aa715a;
  --input-bg: #ffedde40;
  --input-shadow: #aa715a42;
}

.addBtn {
  background-color: #aa715a;
}

.formsection {
  height: calc(100vh - 160px);
  overflow-y: auto;
}

.formsection::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.formsection::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background-color: violet;
  visibility: hidden;
}

.formsection:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.formsection::-webkit-scrollbar-corner {
  display: none;
}

/* Grid Layout */

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 65px);
  gap: 5px;
}

.grid-container input {
  /* background-color: #e6d0c8; */
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.grid-container input::placeholder {
  color: var(--text-color);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--input-shadow);
}

.grid-container select {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

option {
  color: var(--text-color);
  background-color: var(--input-bg);
}

.radio-label {
  color: var(--text-color);
}

/* 
.grid-container div {
  border: 1px solid black;
} */

.grid-container div:first-child {
  grid-column: 1/4;
  grid-row: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container div:nth-child(2) {
  grid-column: 4/8;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(3) {
  grid-column: 4/8;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(4) {
  grid-column: 4/8;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(5) {
  grid-column: 4/8;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
  display: flex;
  position: relative;
}

.grid-container div:nth-child(6) {
  grid-column: 4/6;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(7) {
  grid-column: 6/8;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(8) {
  grid-column: 4/6;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(9) {
  grid-column: 6/8;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 10px;
  position: relative;
}

.grid-container div:nth-child(11) {
  grid-column: 1/8;
  grid-row: 7/8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container div:nth-child(10) {
  grid-column: 1/4;
  grid-row: 6/7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
}

/* =========================================================== */

/* =======================Radio Button========================= */
.custom-radio input {
  margin-right: 5px;
}
/* ============================================================ */

.image-upload {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid var(--text-color);

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* 
.grid-container div:nth-child(7) span {
  width: 350px;
  min-width: 120px;
  padding: 5px 10px;
} */

.edit-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  position: absolute;
  left: auto;
  right: auto;
  text-align: center;
  bottom: -250px;
  z-index: 10;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);

  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(15px); */

  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

small {
  min-width: 200px;
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -13px;
}

.edit {
  position: absolute;
  top: 10px;
  left: 110px;

  color: brown;
  font-weight: bold;
  font-size: 23px;
  z-index: 100;
  cursor: pointer;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}

@media (max-width: 863px) {
  .image-upload {
    width: 200px;
    height: 200px;
  }

  .grid-container div:first-child {
    grid-column: 1/4;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container div:nth-child(6) {
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  .grid-container div:nth-child(7) {
    grid-column: 4/8;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  .grid-container div:nth-child(8) {
    grid-column: 1/4;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grid-container div:nth-child(9) {
    grid-column: 4/8;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  .grid-container div:nth-child(10) {
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
  }

  .edit-container {
    bottom: -410px;
  }

  .edit {
    font-size: 20px;
    top: 7px;
  }
}

@media (max-width: 655px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    /* height: 78vh;
    min-height: 75vh;

    overflow-y: scroll; */
  }

  .grid-container::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .grid-container::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }

  .grid-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .table-body::-webkit-scrollbar-corner {
    display: none;
  }

  .image-upload {
    border-radius: 20px;
  }

  .grid-container div:nth-child(9) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container div:nth-child(10) {
    grid-row: 4/5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
  }
}

::ng-deep .mat-mdc-fab[disabled],
.mat-mdc-fab.mat-mdc-button-disabled {
  background-color: #aa715a69 !important;
}
